<form *ngIf="searchForm" [formGroup]="searchForm">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" formControlName="name" id="name" />
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="surname" class="form-label">Surname</label>
        <input class="form-control" formControlName="surname" id="surname" />
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="role" class="form-label">Role</label>
        <input class="form-control" formControlName="role" id="role" />
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" formControlName="username" id="username" />
      </div>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-end">
    <div class="col-sm-3 text-end">
      <button
        type="button"
        class="btn btn-success"
        (click)="search()"
        (click)="resetForm()"
      >
        Search
      </button>
    </div>
  </div>
</form>
